* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.main-content {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 94vh;
  width:100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 0;
  color: #fff;
  margin-left: 5px;
  letter-spacing: 0.75px;
  font-family: var(--bs-font-sans-serif);
  font-size: 28px;
  font-weight: 700;
  float: right;
  text-align: center;
}

#logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar{
  background-color: rgb(0,0,0,.25) !important;
  height: 65px;
}

.input-search {
  background-color: #eae7e7 !important;
  width: 800px !important;
  font-family: "Proxima Nova","helvetica neue",helvetica,arial; 
  font-size: 14px !important;
  margin-right: 10rem;
  border: none !important;
  border-radius: 3px;
  box-sizing:border-box;
  padding-left: 2.5rem;
  min-width: 0;
  word-spacing: normal;
}

.title, .subtitle {
  color: #fff;
}

.title {
  font-size: 56px;
  line-height: 56px;
  font-weight: 600;
  margin-block-start: 5rem;
  color: #fff;
  text-align: center;
}

.subtitle {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  display: block;
  width: 50%;
  margin: 1em auto;
}

.start-button {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  font-family: "Proxima Nova","helvetica neue",helvetica,arial; 
  padding: 0 20px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.picture-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
  position: relative;
}

.footer-link {
  color: #999;
  text-decoration: none;
}

footer {
  background-color: #000;
  height: 6vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Proxima Nova', 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 14px;
}

footer span {
  font-size: 20px;
  color: rgb(153 153 153);
}

footer span:hover, a:hover {
  color: #fff;
}

.login-button {
  background: transparent;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.login-button:hover {
  background: none;
}

.signup-button {
  background-color: #fff;
  color: #000;
  border: none;
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
}

.signup-button:hover {
  color: #a4a4a4;
  background-color: #fff;
}

.form {
  display: flex;
  align-items: center;
  position: relative;
  overflow: auto;
  width: 100%;
  justify-content: space-between;
}

.icon {
  background-color: #e8e8e8;
}

.navbar-toggler {
  background-color: #fff !important;
}

@media screen and (max-width: 800px) {
  .external-link {
    display: none;
  }
  .main-content {
    height: 100vh;
  }
}

.buttons {
  white-space: nowrap;
}

.border-left-0 {
  border-left: 0!important;
}

.border-radius {
  border-radius: 3px;
  background-color: #f1efef;
}

.height {
  height: 33px;
}